{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags placeholder_attr i18n %}
{% block topbar %}{% include "agro/topbar.html" %}{% endblock %}
{% block content %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}agro/css/styles.css">
{% endaddtoblock %}
	<div id="home-agro" style="{% placeholder_attr 'home agro' 'CssBackground' 'css_background' %}">
		{% placeholder "home agro" %}
	</div>
	<div id="benefits">
		<div id="benefit-1">
			{% placeholder "benefit 1" %}
		</div>
		<div id="benefit-2" style="{% placeholder_attr 'benefit 2' 'CssBackground' 'css_background' %}">
			{% placeholder "benefit 2" %}
		</div>
		<div id="benefit-3">
			{% placeholder "benefit 3" %}
		</div>
	</div>
	<div id="clients" style="{% placeholder_attr 'clients' 'CssBackground' 'css_background' %}">
		{% placeholder "clients" %}
	</div>
	<div id="demo">
		{% placeholder "demo" %}
	</div>
	<div id="contact">
		{% placeholder "contact" %}
	</div>
	<script type="text/template" id="try-demo-tpl">
		<a class="btn-action" href="#">
	   		<p>Pruébalo</p>
	   		<img alt="Pruébalo" src="/media/filer_public_thumbnails/filer_public/ae/b7/aeb7dcd6-1d4f-4a3a-925d-7fff7bc3a722/cinta-sola.png__186x63_q85_crop_subsampling-2_upscale.png" title="Prueba nuestro demo ¡Gratis!" />
	   	</a>
	</script>
	<script type="text/template" id="try-demo-link"><a href="http://demo.destaju.com" class="demo-link"><p>{% trans 'Pruebe el Demo' %}</p></a></script>
{% addtoblock "js" %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#home-agro img, #demo img").addClass("img-responsive");
    $(".pc-div").prepend($("#try-demo-tpl").html());
    $(".try-demo").append($("#try-demo-link").html());
  });
</script>
{% endaddtoblock %}
{% endblock %}