.b{border:solid thin #ddd;}
.box{overflow: hidden;}

.content > div{padding: 50px 0;}
.content > div h2{color: #537384;}

#home{min-height: 520px;width: 100%;text-align: center;padding: 0 !important;}
#home .home-container{text-align: center;padding-top: 20px;}
#home nav{margin: 15px 0 40px 0;}
#home nav a{color: white;padding: 10px 0;text-transform: uppercase;border-bottom: solid thin #ddd; display: inline-block;width: 100px;margin:10px;font-size: 15px;}
#home nav a:hover{text-decoration: none;border-bottom: solid thin white;color: white;}
#home #logo-principal h1{margin: 0;padding: 0;display: none;}

#home #description{color: white;}
#home #description > div{border-radius: 5px;border:solid thin #ddd;display: inline-block;padding: 10px;width: 70%;}
#home #description h2{font-size: 20px;margin: 10px;color: white;}



@media screen and (min-width: 480px){
	#home{min-height: 445px;}
}
@media screen and (min-width: 700px){
	#home .home-container{padding-top: 100px;}
	#home nav{margin-bottom: -30px;}
	#home nav a{position: relative; top: -120px;}
	#home nav a.second{margin-right: 150px;}
	#home nav a.third{margin-left: 150px;}
	#logo-principal{margin: -30px !important;}
	#home #description > div{width: 50%;}
}
@media screen and (min-width: 767px){
	#home #description > div{width: 40%;}
}

@media screen and (min-width: 992px){
	#home #description > div{width: 30%;}
}