{% load cms_tags staticfiles sekizai_tags menu_tags i18n %}
{% spaceless %}<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Destaju{% endblock title %}</title>
    <link rel="icon" href="{{ STATIC_URL }}img/favicons/favicon4.png" type="image/png" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>{% endspaceless %}
    {% render_block "css" %}
  </head>
  <body>
    {% cms_toolbar %}{% spaceless %}
    {% block topbar %}{% endblock %}
    <div class="content">
    {% block content %}
    {% endblock content %}
    </div>
    <footer><div class="container">{% static_placeholder "footer" %}</div></footer>
    
    {% if not DEBUG and not user.is_staff %}<script src="//code.jquery.com/jquery.min.js"></script>{% endif %}
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery.min.js"><\/script>')</script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/waypoints.min.js"></script>{% endspaceless %}
    {% render_block "js" %}
    {% if not DEBUG and not user.is_staff %}
    <script type="text/javascript">
        var _gaq=[['_setAccount','UA-26046263-3'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    {% endif %}
  </body>
</html>

