{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags placeholder_attr i18n %}

{% block content %}
<div id="home" style="{% placeholder_attr 'home' 'CssBackground' 'css_background' %}">
  {% placeholder "home" %}
  <div class="home-container">
    <div id="logo">
      <a href="/" id="logo-principal">
        <h1>Destaju - {% trans 'Plataforma de pagos a destajo' %}</h1>
        <img src="{{ STATIC_URL }}img/logo-centro-peq.png" width="340px" class="img-responsive">
      </a>
    </div>
    <nav id="menu">
      <a href="/#home" id="home-link">{% trans 'Inicio' %}</a>
      <a href="/#benefits" class="second">{% trans 'Beneficios' %}</a>
      <a href="/#sectors" class="third">{% trans 'Sectores' %}</a>
      <a href="/#contact">{% trans 'Contacto' %}</a>
    </nav>
    <div id="description" class="text-center">
      <div>
        <h2>{% trans 'Administre y supervise fácilmente las actividades de sus colaboradores' %}</h2>
      </div>
    </div>
  </div>
</div>
<div id="benefits">
  {% placeholder "benefits" %}
</div>
<div id="sectors" style="{% placeholder_attr 'sectors' 'CssBackground' 'css_background' %}">
  {% placeholder "sectors" %}
</div>
<div id="contact">
  {% placeholder "contact" %}
</div>

{% addtoblock "js" %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#sectors img").addClass("img-responsive");
    $('#home-link').waypoint(function(direction) {
      if ($(window).width() >= 768) {
        if (!$("#menu").hasClass("menu")){
          $("#menu").addClass("menu");
          $("#logo").addClass("logo-principal");
          console.log("menu estático");
        }else{
          $("#menu").removeClass("menu");
          $("#logo").removeClass("logo-principal");
        }
      };
    });
  });
</script>
{% endaddtoblock %}

{% endblock content %}
